.app {
  text-align: center;
	background-color: #282c34;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 800px !important;
	height: 400px !important;
	display: flex !important;

}

.card {
	margin: 10px !important;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.component {
	position: relative;
	width: 100%;
	height: 100%;
}

.counter {
	margin-top: 70px;
	margin-bottom: 20px;
	font-size: 50px;
}

.increment {
	margin-left: 70px;
	width: 200px;
	
	padding: 10px;
	border: 1px solid gray;
}

.increment-display {
	margin-bottom: 10px;
	font-size: 24px;
}

.increment-even {
	font-size: 16px;
}

.even {
	color: green;
}

.uneven {
	color: red;
}